<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <script src="/javascript/dropdown.js" defer></script>
  <script src="/javascript/movietable.js" defer></script>
  <script src="/javascript/users.js" defer></script>
</head>

<body>
  <div class="site-container">
    <div class="sidebar-container">
      <img src="/assets/logo.svg" style="width:20%">

      <h1>
        Favourite IMDB movies
      </h1>

      <!-- div location for dropdown -->
      <div class="dropdown">
        <input type="text" placeholder="Search by name..." id="userSearch" oninput="updateDropdown()">
        <!-- V hidden by default V -->
        <div id="userDropdown" class="dropdown-content"> 
          <ul id="usernameList">

          </ul>
        </div>
      </div>

      <div class="user-options">
        <p id="current-user"></p>
        <ul id="user-option-list">
          <!-- "selected-user-option" means it is hidden until there exists a current_user -->
          <li id="add-movie" class="selected-user-option" onclick="addMovie()">
            Add movie
          </li>
          <li id="add-user" class="default-user-option" onclick="addUser()">
            Add user
          </li>
          <li id="remove-user" class="selected-user-option" onclick="removeUser()">
            Remove user
          </li>
        </ul>
      </div>
    </div>

    <!-- holder of movie table -->
    <div class="movie-table-container">
      <div class="movies">
        <table id="movieTable">

        </table>
      </div>
    </div>
  </div>



</body>

</html>